html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
/*  overflow: hidden;*/
}
/*body {
  overflow: auto;
}*/
main{
    overflow: hidden;
}
.logo-nav {
    background: url("../../assets/sunny.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    padding:0px;
    min-height: 95px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.main_nav_header{
    text-align: center;
    padding-top: 30px;
    margin: 0px;
}


.monitor_graphs{
    background-color: #00ccff;
    background-size:cover;
    margin: 0px;
    text-align: center;

    
}

.cb_remove_padding{
    padding: 0px;
}
.headings_graphs_sections{
    margin:0px;
    padding:0px;
    /*width: 100%;*/
   

}
.allign_icon_panel{
    padding-top: 3px;
    background-color: #e6e600;
    border-radius: 30px;
    float: left;
    
   
}
.allign_section{
    display: inline;
    padding:0px;
}

.row{
    margin:0px;
}

/*--------------------------------------------Map*/
#map {
    min-height: 150px;
    width: 100%;
    display:inline-block;
    padding:0px;



}
#house {
    background: url("../../assets/house.jpg");
    background-size:cover;
    min-height: 150px;
    width: 100%;
}

#instalation {
    background: url("../../assets/system profile.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
    min-height:180px;
    min-width:100%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
#leaf {
    background: url("../../assets/icons-green-leaf-clip-art-green-leaf-icon-5aae057630e799.0918947015213541022003 (1).png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
    min-height:80px;
    min-width:80px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
 .number-box {
        width: 200px;
        font-size: 40px;
        text-align: center;
        padding-top: 63px;
        padding-bottom: 63px;
        height: 74px;
        line-height: normal;
      }