html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

main{
    overflow: hidden;
}

.cb_remove_padding{
    padding: 0px;
}

.allign_section{
    display: inline;
    padding:0px;
}

.row{
    margin:0px;
}

.card_select{
    padding: 0px;
}

.graph_cal{
    width: 100%;
}

/*--------------------------------------------Header navbar*/
.nav_header{
    float:right;
}

.reset-filters {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 9999;
    cursor: pointer;
    color: #fff;
    background-color: #29ABE0;
    border-color: #29ABE0;
}

.reset-filters:hover {
    background-color: #8E8C84;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.logo-nav {
    background: url("../../assets/sunny.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    padding:0px;
    min-height: 95px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.main_nav_header{
    text-align: center;
    padding-top: 30px;
    font-size:40px;
    margin: 0px;
}

/*--------------------------------------------Jumbothron*/
.display-4 {
    font-size: 2rem;
    font-weight: 350;
    line-height: 1;
}
.lead {
    font-size: 1.5rem;
    font-weight: 500;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
ul{ 
    list-style-type: none; 
}

.jumbotron {
    margin:0px;
}

.container_jumbo {
    margin:0px 10px 0px 10px;
    text-align:center;
    display:inline;
}


/*--------------------------------------------monitor graphs*/

.monitor_graphs{
    background-size:cover;
    margin: 0px;
    text-align: center;
}

.monitor_graphs_selector_style{
    max-width: 40%;
    max-height:100px;
}

.headings_graphs_sections{
    margin:0px;
    padding:0px;
}
.allign_icon_panel{
    padding-top: 3px;
    background-color: #e6e600;
    border-radius: 30px;
    float: left;
    
   
}
#house {
    background: url("../../assets/house.jpg");
    background-size:cover;
    height: auto;
    width: 100%;
}

#map {
    min-height: 150px;
    width: 100%;
    display:inline-block;
    padding:0px;

}

#instalation {
    background: url("../../assets/system profile.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
    min-height:180px;
    min-width:100%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;

}
#leaf {
    background: url("../../assets/icons-green-leaf-clip-art-green-leaf-icon-5aae057630e799.0918947015213541022003 (1).png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
    min-height:80px;
    min-width:80px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.number-box {
        width: 200px;
        font-size: 40px;
        text-align: center;
        padding-top: 63px;
        padding-bottom: 63px;
        height: 74px;
        line-height: normal;
}
     
#euro {
    background: url("../../assets/money-icon-transparent-background-15.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
    min-height:80px;
    min-width:80px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

/*------------------------------------------Heat-Map and graphs*/
#location-selector{
    float:right;
}

.heat_map_style{
    max-width: 100%; 
    max-height:100%; 
    display:block;
}
#heat_map{
    width: 100%; 
    min-height: 500px; 
    display: inline-block;
}


#sunpower_month{
    display:inline-block;
    text-align:center;
}
#sunpower_day{
    float:right;
    text-align:center;
}

.reset-map:hover {
    background-color: #3E3F3A;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}



/*------------------------------------------Scatter_graph*/

.scater_usage_style_graph{
    max-width: 100%; 
    max-height:100%;
}
/*------------------------------------------Usage vs production graphs*/
#g_e_usaged{
     text-align:center;
}
#g_usagevproduction{
     text-align:center;
}


/*------------------------------------------Footer*/
.footer {
    min-height: 50px;
    background-color: #29ABE0;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

/*------------------------------------------mediaQueries*/

@media (min-width: 768px){
.float{
	position:fixed;
    width: 100px;
    height: 60px;
    left: 10px;
    top: 10px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 9999;
    color: #fff;
    background-color: #29ABE0;
    border-color: #29ABE0;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}
}



